build
dist
*.o
*.pak
starfighter
src/starfighter

# Autoconf / Automake
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
config.h.in~
src/Makefile
src/Makefile.in
src/.deps

# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.xcuserdatad
